<html>
<head>
  <title>Buzz </title>
  <script src="/js/lib/socket.io.slim.js"></script>
  <script src="/js/lib/jquery.js"></script>
  <script src="/js/lib/timer.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <script src="/js/lib/materialize.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="/media/favicon.png"/>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="website_title">QBBuzz</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(user==null){%>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <% }else {%>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        <%}%>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <a href="#"><div id="startq" class="col s6 button">New Question</div></a>
      <!-- <a href="#"><div id="startgame" class="col s6 button disabled">Start Game (not implemented)</div></a> -->
    </div>  
    <div id = "answerText">
      ANSWER: 
    </div>
    <div id = "question">
      <p id = "questionText"></p>
    </div>
    <div id="questionInfo">
      Tournament: 
    </div>
    <div class="row">
      <a href="#"><div id="buzzer" class="col s6 button">Buzz</div></a>
      <div id = "timer" class= "col s2 offset-s2"></div>
      <!-- <a href="#"><div id="reset" class="col s6 button disabled">reset</div></a> -->
    </div>  
    <div class="messages"><ul id="messages"></ul></div>
    <div class="divider"></div>
    <p><b>Connections:</b></p>
    <ul id="connections"> </ul>
    <div class="divider"></div>
    <p><b>Previous Questions:</b></p>
    <ul id = "previousQuestions" class= "collapsible" data-collapsible="accordion"></ul>
    <div class = "divider"></div>
    <p><b>About QBBuzz:</b></p>
    <p id = "about">
      QBBuzz was built by Sky Li primarily for the Acton-Boxborough Quiz Bowl team. It allows users to connect to a synchronized buzzer online, helping to facilitate online practices. Players can name themselves, buzz, and see who buzzed. When a new player joins, the buzzer should be reset so that they can sync with everyone else. 
    </p>
    <p>
      QBBuzz was built with Node.JS using an Express framework for the server, socket.io for server-client communication, and MaterializeCSS for client UI. It is hosted on a free Heroku dyno.
    </p>
    <p>
      See the source code on GitHub <a href = "https://github.com/skyli42/Buzzer"> here</a>
    </p>
  </div>
  
  <div id="modal1" class="modal">
    <div class="modal-content">
      <form id="name_form" >
        What is your name?
        <br />
        <input type="text" id="name" autocomplete = "off" autofocus="autofocus" onfocus="this.select()">
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" id="submit_button" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
  <div id="answerModal" class="modal">
    <div class="modal-content">
      <form id="name_form" >
        Answer?
        <br />
        <input type="text" id="answerInput" autocomplete = "off" autofocus="autofocus" onfocus="this.select()">
      </form>
      <div id= "buzzTimer"></div>
    </div>
  </div>
  <div id="promptModal" class="modal">
    <div class="modal-content">
      <form id="name_form" >
        Answer?
        <br />
        <input type="text" id="promptInput" autocomplete = "off" autofocus="autofocus" onfocus="this.select()">
      </form>
      <div id= "promptTimer"></div>
    </div>
  </div>
  <script src = "/js/globalVars.js"></script>
  <script src = "/js/socket.js"></script>
  <script src = "/js/buttons.js"></script>
  <script src = "/js/window.js"></script>
</body>
</html>