body{
	background-color: #FAEBD7;
}
a{
	color:black;
}
p a{
	color:blue;
	text-decoration:underline;
}
.messages{
	height:200px;
	overflow: auto;
}
#startq{
	background-color:green;
}
#startgame{
	background-color:blue;
}
#question{
	background-color:white;
}
#questionText{
	min-height:200px;
	
	padding:10px;
}
.button{
	height:100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;    
}
#buzzer{
	background-color:red;	
}
#reset{
	background-color:black;
	color:white;
}
#buzzer.disabled{
	background-color:#DDDDDD;
}

.row{
	margin-top:50px;
}