@font-face {
	font-family: Open_Sans;
	src: url(/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: Open_Sans;
	src: url(/fonts/Open_Sans/OpenSans-Bold.ttf);
	font-weight:bold;
}

body{
	background-color: #FAEBD7;
	font-family:"Open_Sans";
}
a{
	color:black;
}
p a{
	color:blue;
	text-decoration:underline;
}
.messages{
	height:200px;
	overflow: auto;
}
#startq{
	background-color:green;
}
#startgame{
	background-color:blue;
}
#question{
	background-color:white;
}
#questionText{
	min-height:200px;
	
	padding:10px;
}
.button{
	height:100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;    
}
#buzzer{
	background-color:red;	
}
#reset{
	background-color:black;
	color:white;
}
#startq.disabled{
	background-color:#DDDDDD;
}
#startgame.disabled{
	background-color:#DDDDDD;
}
#buzzer.disabled{
	background-color:#DDDDDD;
}
#reset.disabled{
	background-color:#DDDDDD;
}
.row{
	margin-top:50px;
}
.box{
	min-height:20px;
	min-width:20px;
	max-width:20px;
	text-align:center;
	display:inline-block;
}
#timer{
	text-align:center;
	min-height:100px;
	line-height: 100px
}
.card{
	text-align:center;
}
.website_title{
	/*position: absolute;*/
	color: #fff;
	display: inline-block;
	font-size: 2.1rem;
	padding-left: 10px;
}
h1, h2{
	text-align:center;
}