body{
	background-color: #faf9f0;
}
a{
	color:black;
}
.messages{
	height:200px;
	overflow: auto;
}
.button{
	height:100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;    
}
#buzzer{
	background-color:red;	
}
#reset{
	background-color:black;
	color:white;
}
#buzzer.disabled{
	background-color:#DDDDDD;
}

.row{
	margin-top:50px;
}